microide/
norepo/
toolchainPatchFiles/
windows/
output.log
workspace.xml
eclipse-installer/microideLocalSetups/microide.product.setup
eclipse-installer/microideLocalSetups/microide.product.setup.windows
scripts/__pycache__/
